<table class="table js-products-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody class="js-products-table__body">
        {{!-- {{#each data.products}}
            <tr>
                <th>{{id}}</th>
                <td>{{title}}</td>
                <td>${{price}}</td>
                <td><img src="{{thumbnail}}" alt="{{title}}" width="20" height="20"/></td>
                <td><a href="/productos/{{id}}" class="w-100 btn btn-sm btn-primary">View</a></td>
            </tr>
        {{/each}} --}}
    </tbody>
</table>