html
    head
        title Products
        link(rel="stylesheet", href="/css/bootstrap.min.css")
    body
        section
            dl 
                dt Entry Arguments:
                dd= entryArgs
            dl 
                dt OS:
                dd= platform
            dl 
                dt Node.js version:
                dd= nodeVersion
            dl 
                dt RSS:
                dd= rss
            dl 
                dt Path:
                dd= path
            dl 
                dt Process ID:
                dd= pid
            dl 
                dt Working Directory:
                dd= cwd
            dl 
                dt Processors quantity:
                dd= cpusLength
