<% var data = data || {} %>

<section class="ec-grid py-3">
    <div class="col-span-full">
        <div class="flex justify-between">
            <h1 class="text-xl">
                Welcome, <%= data.user.name %>
            </h1>
            <ul>
                <li>Age: <%= data.user.age %></li>
                <li>Email: <%= data.user.email %></li>
                <li>Address: <%= data.user.address %></li>
                <li>Phone: <%= data.user.phone %></li>
                <li><img src="images/avatars/<%= data.user.avatar %>" alt="Avatar" width="100"/></li>
            </ul>
        </div>
        <button class="py-1 px-4 rounded text-sm bg-blue-800 text-white hover:bg-blue-600" onclick="location.href='/logout'">
            log out
        </button>
    </div>
</section>

<section class="ec-grid py-3">
    <%- include('../partials/productCards.ejs') %>
</section>

<section class="ec-grid py-3">
    <% if (data.isAdmin) { %> 
        <form action="/api/products" method="post" class="col-span-full rounded p-4 flex flex-col">
            <h2 class="mb-3 text-center text-2xl">Add product</h2>
    
            <div class="flex mb-3">
                <label class="mr-3" for="name">Name:</label>
                <input class="bg-transparent border-b border-b-slate-900 border-solid" type="text" name="name" id="name" />
            </div>
            <div class="flex mb-3">
                <label class="mr-3" for="description">Description:</label>
                <input class="bg-transparent border-b border-b-slate-900 border-solid" type="text" name="description" id="description" />
            </div>
            <div class="flex mb-3">
                <label class="mr-3" for="price">Price:</label>
                <input class="bg-transparent border-b border-b-slate-900 border-solid" type="text" name="price" id="price" />
            </div>
            <div class="flex mb-3">
                <label class="mr-3" for="stock">Stock:</label>
                <input class="bg-transparent border-b border-b-slate-900 border-solid" type="text" name="stock" id="stock" />
            </div>
            <div class="flex mb-3">
                <label class="mr-3" for="thumbnail">Thumbnail:</label>
                <input class="bg-transparent border-b border-b-slate-900 border-solid" type="text" name="thumbnail" id="thumbnail" />
            </div>
            <div class="flex mb-3">
                <label class="mr-3" for="category">Category:</label>
                <input class="bg-transparent border-b border-b-slate-900 border-solid" type="text" name="category" id="category" />
            </div>
            <div>
                <button type="submit" class="py-1 px-4 rounded text-sm bg-blue-800 text-white hover:bg-blue-600">Submit</button>
            </div>
        </form>
    <% } %>
 
    <div class="col-span-full md:col-span-6">
        <%- include('../partials/chat.ejs') %>
    </div>

    <!-- <form action="/products/" method="post" class="bg bg-gradient rounded p-4">
        <h2 class="mb-3 text-center text-white">Add product</h2>
        <div class="form-floating mb-3">
            <input type="text" name="title" id="add-title" class="form-control" placeholder="Pencil" />
            <label for="add-title">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="price" id="add-price" class="form-control" placeholder="100" />
            <label for="add-price">Price</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="thumbnail" id="add-thumbnail" class="form-control" placeholder="https://example.com/123" />
            <label for="add-thumbnail">Thumbnail URL</label>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
    </form> -->

</section>