<section class="container">
        
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mb-3">
            <h1 class="mb-3 text-center">Products (hbs)</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <th>{{id}}</th>
                            <td>{{title}}</td>
                            <td>${{price}}</td>
                            <td><img src="{{thumbnail}}" alt="{{title}}" width="20" height="20"/></td>
                            <td><a href="/productos/{{id}}" class="w-100 btn btn-sm btn-primary">View</a></td>
                        </tr>
                    {{/each}}
                </tbody>
                </table>
        </div>
        <div class="col-12 col-md-6 offset-md-3">
            <a href="/" class="w-100 btn btn-lg btn-dark">Add product</a>
        </div>
    </div>

</section>